$border-color-light: #E7E7E7;

$primary-text-color-light: #000;
$secondary-text-color-light: #ababab;
$primary-bg-color-light: #FFF;


$primary-btn-bg-color-light: #000;
$primary-btn-text-color-light: #FFF;