$border-color-light: #E7E7E7;
$border-color-dark: #21262d;
$border-color: var(--border-color);

$primary-text-color-light: #000;
$primary-text-color-dark: #fff;
$primary-text-color: var(--primary-text-color);

$secondary-text-color-light: #ababab;
$secondary-text-color-dark: #fff;
$secondary-text-color: var(--secondary-text-color);

$primary-bg-color-light: #FFF;
$primary-bg-color-dark: #161B22;
$primary-bg-color: var(--primary-bg-color);

$primary-btn-bg-color-light: #000;
$primary-btn-bg-color-dark: #e55945;
$primary-btn-bg-color: var(--primary-btn-bg-color);

$primary-btn-text-color-light: #FFF;
$primary-btn-text-color-dark: #e2e5ea;
$primary-btn-text-color: var(--primary-btn-text-color);


$body-bg-color-light: #F2F2F2;
$body-bg-color-dark: #010409;
$body-bg-color: var(--body-bg-color);

.app {
  --border-color: #{$border-color-light};
  --primary-text-color: #{$primary-text-color-light};
  --secondary-text-color: #{$secondary-text-color-light};
  --primary-bg-color: #{$primary-bg-color-light};
  --primary-btn-bg-color: #{$primary-btn-bg-color-light};
  --primary-btn-text-color: #{$primary-btn-text-color-light};
  --body-bg-color: #{$body-bg-color-light}
}

.app-dark-theme {
  --border-color: #{$border-color-dark};
  --primary-text-color: #{$primary-text-color-dark};
  --secondary-text-color: #{$secondary-text-color-dark};
  --primary-bg-color: #{$primary-bg-color-dark};
  --primary-btn-bg-color: #{$primary-btn-bg-color-dark};
  --primary-btn-text-color: #{$primary-btn-text-color-dark};
  --body-bg-color: #{$body-bg-color-dark}
}


$border-light: 2px solid $border-color;
$border-radius: 15px;
$padding: 20px;
$color-transition: background-color 1s ease, color 1s ease;
