@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "scss/scss-varibales";

.app {
  min-height: 100vh;
  background-color: $body-bg-color;
  font-family: 'Roboto', sans-serif;
  color: $primary-text-color;
  transition: $color-transition;
}

.page-layout {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
}
.link {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.custom-container {
  padding: 0 1em;
}

@media (min-width: $SCREEN_SMALL) {
  .custom-container {
    padding: 0 calc(50% - 230px);
  }
}

@media (min-width: $SCREEN_MEDIUM) {
  .custom-container {
    padding: 0 calc(50% - 260px);
  }
}

@media (min-width: $SCREEN_LARGE) {
  .custom-container {
    padding: 0 calc(50% - 380px);
  }
}

@media (min-width: $SCREEN_EXTRA_LARGE) {
  .custom-container {
    padding: 0 calc(50% - 490px);
  }
}