@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
.App {
  min-height: 100vh;
  background-color: #F2F2F2;
  font-family: 'Roboto', sans-serif;
}

.page-layout {
  display: flex;
  flex-direction: column;

  &__header {
    flex: 0 1 auto;
  }

  &__content {
    flex: 1 1 auto;
  }

  &__footer {
    flex: 0 1 auto;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
}

.custom-container {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  .custom-container {
    padding: 0 calc(50% - 170px);
  }
}

@media (min-width: 767.98px) {
  .custom-container {
    padding: 0 calc(50% - 260px);
  }
}

@media (min-width: 991.98px) {
  .custom-container {
    padding: 0 calc(50% - 380px);
  }
}

@media (min-width: 1199.98px) {
  .custom-container {
    padding: 0 calc(50% - 490px);
  }
}