@import "../../scss/scss-varibales";

.users-form {
  display: flex;
  flex-direction: column;

  &__pagination {
    align-self: end;
    padding: 15px;
  }
}


.cards {
  padding: 20px 0 0 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(33% - 15px), 1fr));
  grid-gap: 15px;
}
