@import "../../scss/scss-varibales";

.profile-form {
  display: flex;
  flex-direction: column;

  > :nth-child(1) {
    min-height: 300px;
  }
}

.profile-userinfo {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: $primary-bg-color;
  border: $border;
  border-radius: $border-radius;
  padding: $padding;
  margin-top: 20px;

  & img {
    width: 100%;
    border-radius: $border-radius;
    border: $border;
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding-left: $padding;

    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;

      &__username {
        font-size: 24px;
        font-weight: bolder;
      }
    }

    &__footer {
      margin-top: auto;
    }
  }
}