@import "../../scss/scss-varibales";


.edit-profile-modal {
  width: 350px;

  &__img img {
    width: 100%;
    border-radius: $border-radius;
  }

  &__change-img-input {
    padding: 10px 0 0 0 ;
  }

  &__edit-img-btns {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 ;
  }

  &__edit-img-btn {
    flex: 1 1 auto;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
  }

  &__form {

    & .ant-row {
      margin: 3px 0;
    }

    & div {
      width: 100%;
    }

  }

  &__save {
    padding-top: 10px;
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;

    & span {
      cursor: pointer;
    }
  }

  &__input {
    height: 24px;
    text-align: center;

    & div {
      height: 24px;
    }

    & input {
      height: 24px;
      text-align: center;
    }

    & .ant-form-item-control .ant-form-item-control-input .ant-form-item-control-input-content .ant-select-single .ant-select-selector{
      //backgro/und-color: red;
      //border: 10px solid green;
      height: 24px;

      & input {
        height: 24px;
      }
    }
  }
}

.edit-profile-modal__edit-img-btn + .edit-profile-modal__edit-img-btn {
  border-left: $border-light;
}