@import "../../scss/scss-varibales";

.footer {
  border-top: $border;
  background: $primary-bg-color;

  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 20px;

  transition: $color-transition;

}