@import "../../scss/scss-varibales";

.footer {
  border-top: $border-light;
  background: $primary-bg-color-light;

  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 20px;

}